.coments {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #fec40e;
  padding: 2vw 4vw;
  display: flex;
  position: relative;
}
.coment {
  color: #010101;
  text-align: center;
  border: 1px solid #e2e8ed;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: white;
  border-radius: 5px;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 1vw 2vw;
  max-width: 50%;
}
.coment1 {
  padding: 0 1vw;
}
.name {
  color: #fec40e;
  margin: 0;
}
.occupation {
  margin: 0;
}
.birds {
  position: absolute;
  left: 85%;
}
