.form {
  display: none;
  box-sizing: content-box;
}

@media screen and (max-width: 600px) {
  .form {
    box-sizing: content-box;
    display: block;
    margin-top: 20vw;
    color: #010101;
    padding: 0 5vw;
    text-align: center;
    font-weight: 500;
  }
  .inputs {
    display: block;
    text-align: left;
    padding: 2vw 5vw;
  }
  .form-label {
    font-size: 5vw;
    color: #010101;
    font-weight: 700;
  }
  .form-input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-color: #eaedef;
    box-shadow: 1px 5px #969595;
    margin: 2vw 0;
    font-weight: 600;
  }
  ::placeholder {
    color: #bdc2c6;
    font-size: 4vw;
    padding-left: 5vw;
  }
  .upgrade {
    font-size: 5vw;
    color: #010101;
    font-weight: 700;
  }
  select {
    padding-left: 5vw;
    width: 100%;
    height: 100%;
    color: #010101;
    cursor: pointer;
    box-shadow: 1px 5px #969595;
    background-color: #e2e8ed;
    border-radius: 4px;
    font-size: 5vw;
  }
  .online-payment {
    background-color: #e2e8ed;
    font-size: 4vw;
    padding: 3vw;
    border-radius: 5%;
    width: 80%;
    margin: 2vw auto;
  }
  .text-aria-label {
    width: 100%;
    font-size: 5vw;
    color: #010101;
    font-weight: 700;
    text-align: left;
    padding: 2vw 5vw;
  }
  .text-aria {
    width: 90%;

    border-radius: 5px;
    border-color: #919a9f;
    box-shadow: 1px 5px #969595;
    margin: 2vw 0;
    font-weight: 600;
  }
  .btn-submit {
    background-color: #010101;
    padding: 2vw 20vw;
    color: white;
    border-radius: 5px;
  }
}
