.packages {
  margin-left: 10%;
  text-align: center;
  box-sizing: border-box;
}

.bird-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.package {
  width: 25vw;
  padding-top: 2vw;
  border-radius: 5px;
  position: relative;
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
  position: relative;
}

.old-price {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: red line-through;
  margin-right: 0.5vw;
}

.new-price {
  font-size: 3vw;
  font-weight: 700;
  color: #fec40e;
}
.three-packages {
  display: flex;
}
.package-name {
  font-weight: 600;
  font-size: 2vw;
}
.hr {
  width: 50%;
  margin: 0;
  text-align: left;
}
.list1-container {
  display: flex;
  margin: 0;
}

.btn-apply {
  margin: 1vw;
  padding: 0.5vw 5vw;
  background-color: #010101;
  color: white;
  font-size: 1.2vw;
  border-radius: 5px;
}
.btn-apply-wraper {
  position: absolute;
  height: 10vw;
  top: 100%;
}
.bird-container-down {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
  width: 90%;
}
.tric-img-dark {
  width: 15%;
}
@media screen and (max-width: 600px) {
  .packages {
    margin-left: 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }

  .three-packages {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .package {
    width: 80%;
    padding: 6vw 3vw;
    border-radius: 5px;
    position: relative;
    text-align: left;
    box-shadow: 0 5px #e2e8ed;
    height: auto;
    border: 2px solid #e2e8ed;
    margin: auto auto;
  }
  .old-price {
    font-size: 6vw;
  }
  .new-price {
    font-size: 6vw;
  }
  .package-name {
    font-size: 4vw;
  }
  .btn-apply {
    margin-top: 2vw;
    padding: 1vw 20vw;
    background-color: #010101;
    color: white;
    font-size: 4vw;
    border-radius: 5px;
    font-weight: 700;
  }
  .btn-apply-wraper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .left-birds {
    display: none;
  }
  .bird {
    display: none;
  }
  .tric-img-dark {
    width: 30%;
  }
  .bird-down {
    width: 50%;
    margin-top: 50%;
  }
  .right-birds {
    width: 50%;
    margin-left: 100%;
  }
}
