.transparent-text {
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e8ed;
  opacity: 80%;
  width: 90%;
  padding: 2vw 5vw;
}
.img-trick {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 45%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .transparent-text {
    position: relative;
    margin-top: 20%;
    left: 50%;
    display: none;

    opacity: 1;
    width: 90%;
    padding: 2vw 5vw;
  }
  .img-trick {
    width: 20%;
    height: 50%;
  }
}
